.board {
  background-color: #eeeeee;
  position: relative;
  box-sizing: border-box;
  border: 3px solid lightgrey;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

.cell {
  height: 50px;
  width: 50px;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
}

.cell.last-row { border-bottom-width: 0px; }
.cell.last-col { border-right-width: 0px; }

.board a.action {
  color: grey;
  width: 36px;
  height: 36px;
}

.board a.action svg {
  width: 100%;
}

img.door-left {
  margin-left: -13px;
  height: 49px;
}

img.door-right {
  margin-left: 38px;
  height: 49px;
}

img.door-top {
  width: 49px;
  margin-top: -13px;
}

img.door-bottom { margin-top: 38px; width: 49px; }

img.stairs {
  width: 100px;
  max-width: none;
}

.wall-top { border-top: 2px solid; }
.wall-right { border-right: 2px solid; }

.wall-bottom { border-bottom: 2px solid; }
.wall-left { border-left: 2px solid; }


.cell.seen {
  background-color: white;
}

.monster { width: 40px; padding: 5px;}